/* Termékek elrendezése */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product{
    transition: transform 0.5s;
}

.product, .product-body{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;   
}

.legends{
    color: #ff5722;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: contain;
    background-color: #eedab5;
}

.product h3 {
    margin: 10px 0;
    color: #333;
}

.product p {
    font-size: 18px;
    color: #666;
}

.product span {
    font-weight: bold;
    color: #ff5722;
    display: block;
    margin-top: 10px;
}
#top {
    display: none; /* Alapból rejtve */
    position: fixed; /* Fixált a képernyő jobb alsó sarkában */
    bottom: 15px;
    right: 15px;
    z-index: 1000; /* Minden más fölött legyen */
    background: #ff5722;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#top:hover {
    background-color: #d98a07;
    transform: scale(1.1);
}

/* Alapértelmezett stílusok */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Négy oszlop alapértelmezés szerint */
    gap: 20px; /* Távolság az elemek között */
    justify-items: center;
}
