/* Alapstílusok */
body {
    background-image: url(../../assets/img/lightbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f0a00c;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}


/* Tartalom */
main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Szekció */
section {
    margin-top: 20px;
    padding: 15px;
    background: #ecf0f1;
    border-radius: 5px;
}

section h3 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 10px;
    background: #c78812;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
}

ul li a:hover {
    background: #cf8a09;
}

footer {
    text-align: center;
    padding: 10px;
    background: #bb3906;
    color: white;
    margin-top: 20px;
}
