/* Alapstílusok */
body {
    background-image: url(../../assets/img/lightbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Fejléc */
header {
    background-color: #f0a00c;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    width: auto;
    border-radius: 8px;
    margin: 20px auto;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Formázás */
form {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

/* Gombok */
button {
    padding: 10px 15px;
    background: #c78812;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background: #cf8a09;
}

/* Lábléc */
footer {
    text-align: center;
    padding: 10px;
    background: #bb3906;
    color: white;
    margin: 20px auto;
    display: inline-block;
    width: auto;
    border-radius: 8px;
}
